@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#F8EDE3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.main-cont{
    width: 400px;
    height: 500px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-direction: column;
    background-color: #DFD3C3;
    /* padding: 30px; */
    position: relative;
    top: 95px;
    /* left: 600px; */
    font-family: 'Montserrat', sans-serif;;
}

.details{
    width: 350px;
    height: 280px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-flow: column;
    /* border: 2px solid black; */
    position: relative;
    top: 40px;
    /* left: 25px; */
}


h2{
    /* font-size: 1rem; */
    font-weight: 600;
    color: #3D3D3D;
    margin-bottom: 30px;
}


.input-area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 300px;
    height: 150px;
}

.form{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin: 0;
}


#cc-input{
    width: 300px;
    height: 40px;
    border: none;
    margin-bottom: 8px;
    border-radius: 3px;
    text-align: center;
    font-size: 1rem;
}

#submit{
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color: #85586F;
    color: #F8EDE3;
    cursor: pointer;
}

.output{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #D0B8A8;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    padding: 10px;
    border-radius: 4px;
}

.output-area{
    /* border: 2px solid black; */
    width: 260px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

#output{
    width: 260px;
    height: 120px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    /* border: 2px solid black; */
}

/* This is for the QR Code reader */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reader {
    width: 600px;
    border: 2px solid black;
}
    
#result {
    border: 2px solid black;
    text-align: center;
    font-size: 1.5rem;
}
    